{% extends 'base.html' %}
{% block title %}  {{ title }}  {% endblock %}

{% block content %}

<div>
    <form method="POST">
    <div class="table">
    <table>
    {% for post in posts %}

        <tr>

            <th scope="col">Nom : {{ post[0] }}</th>
            <th scope="col">Numero de Siret : {{ post[1] }}</th>
            <th scope="col">Adresse Postal : {{ post[2] }}</th>
            <th scope="col">Code Postal : {{ post[3] }}</th>
            <th scope="col">Ville : {{ post[4] }}</th>
            <th scope="col">Description : {{ post[5] }}</th>
            <th scope="col">Url : {{ post[6] }}</th>
            <th scope="col">Nombre de facture : {{ post[8] }}</th>
            <th scope="col">
                <input type="radio" name="post_id" value="{{ post[7] }}">
                    Sélection :
                </input></th>
        </tr>
    {% endfor %}

    </table>
    </div>

<div>
    <a href="/form"><input class="modif"
       type="button"
       value="Ajouter un nouveau prospect"></a>
    <button class="button" type="submit">supprimer</button>
</div>
    </form>
    </div>
<a href="/user"><input class="modif"
       type="button"
       value="Accueil"></a>
{% endblock %}
